<%- include('partials/header') %>

<div class="error-body-container ">
<div class="rounded error m-4 ">
  <img src="/images/404.jpg" class="rounded error-img">
  <p class="error-text ">The Page You Are Looking For Could Not Be Found</p>
</div>

</div>

<%- include('partials/footer') %>