
<%- include("partials/header"); -%>
    
    <div class="compose-container">
    <h1>Compose</h1>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <label>Title</label>
        <input onkeydown="return event.key != 'Enter';" name="title" class="form-control" type="text" name="postTitle">
        <label>Post</label>
        <textarea name="content" class="form-control" rows="8" cols="50"></textarea>
      </div>
      <button class="btn my-3 publish-btn" type="submit" name="button">Publish</button>
    </form>
  </div>

<%- include("partials/footer"); -%>

