  
  <%- include('partials/header') %>

  <div class="body-container">
  
  <!-- welcome -->
  
  <div class="container my-5 ">
    <div class=" text-center welcome-container gradient-background rounded-3">
      <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="100" height="100"><use xlink:href="#bootstrap"></use></svg>
      <h1 class="text-light">Welcome To OpenBlog</h1>
      <p class="col-lg-8 mx-auto fs-5 text-light">
      Home for many aspiring bloggers </p>
      <div class="d-inline-flex gap-2 mb-5">
        <button class="d-inline-flex align-items-center btn btn-outline-light btn-lg px-4 rounded-pill" type="button">
          Get Started
        </button>
      </div>
    </div>
  </div>


  <!-- people -->

<div class="people1-container">
  <img src="images/1.jpg" class="img1" alt="boy Blogging">
  <div>
    <h2>Make your Blogs Online in minutes </h2>
    <p>We Provide fast and reliable publishing of blogs easy to configure even for newbies</p>
  </div>

</div>

  <!-- people 2 -->

  <div class="people2-container">
    <img src="images/2.jpg" class="img2" alt="College Group">
    <div>
      <h2>Share Your Thoughts with Friends</h2>
      <p>What is better than being able to easily share your young experiences with friends. Choose OpenBlog to make that thought reality</p>
    </div>
  
  </div>
  
 <!-- people 3 -->

 <div class="people3-container">
  
  <div>
    <h2>Fill your live diary for Others to see</h2>
    <p>Why Keep you special moments locked in your Mind. Create Diaries that all can read and enjoy.</p>
  </div>
  <img src="images/3.jpg" class="img3" alt="College Group">

</div>

  <!-- Finishing Line -->

  <div class="container my-5">
    <div class="p-5 text-center rounded-3 gradient-background2">
      <h2 class="getStarted-container-text">Ready To Create Your First Blog?</h2>
      <p class="col-lg-8 mx-auto fs-5 mb-5 getStarted-container-text ">Login or Create Your Account to start working with OpenBlog and be able to view other People's Blogs.
      </p>
      <div class="d-inline-flex gap-2 mb-3">
        <button class="d-inline-flex align-items-center btn btn-light btn-lg px-4 rounded-pill" type="button">
          Signup</button>
      </div>
    </div>
  </div>


<!-- body-container-end -->
</div>

<%- include('partials/footer') %>