<%- include('partials/header') %>
<div class="pricing-body">
    <div class="row text-center border border-dark-subtle pricing-container rounded my-3 p-4">
  
      <div class="row row-cols-1 row-cols-md-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Free</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Single User included</li>
                <li> 500mb storage</li>
                <li>_</li>
                <li>_</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-light border-dark-subtle" style="color:#ff6a00">Sign up for free</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Personal</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Single User included</li>
                <li>10 GB of storage</li>
                <li>Priority email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg pricing-color-scheme">Get started</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 pricing-color-scheme ">
              <h4 class="my-0 fw-normal text-light">Enterprise</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>10 users included</li>
                <li>15 GB Per User</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg pricing-color-scheme">Get Started</button>
            </div>
          </div>
        </div>
      </div>


</div>

</div>


<%- include('partials/footer') %>