<%- include('partials/header') %>

<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-1 py-4 px-md-5 text-center text-lg-start" >
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0" style="background-color: hsl(0, 0%, 96%); border-radius: 5%;">
          <h1 class="my-5 display-3 fw-bold ls-tight" style="color: rgb(250, 119, 37);">
            SignUp and Surf the Blog World
          </h1>
          
        </div>

        <div class="col-lg-5 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form method="post" action="/register">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input name="firstName" onkeydown="return event.key != 'Enter';" type="text" id="form3Example1" class="form-control" />
                      <label class="form-label" for="form3Example1">First name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input name="lastName" onkeydown="return event.key != 'Enter';"  type="text" id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2">Last name</label>
                    </div>
                  </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input onkeydown="return event.key != 'Enter';" name="username" type="email" id="form3Example3" class="form-control" />
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input name="password" type="password" id="form3Example4" class="form-control" />
                  <label class="form-label" for="form3Example4">Password</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                  <label class="form-check-label" for="form2Example33">
                    Subscribe to our newsletter
                  </label>
                </div>

                <!-- Submit button -->
                <div class="text-center">
                <button type="submit" class="signup-btn btn btn-block mb-4">
                  Sign up
                </button>
                </div>

                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <a href="/auth/google" class="google-btn btn btn-outline-dark ">
                    <div class="google-icon-wrapper">
                      <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                    </div>
                    <p class="btn-text">Sign up with google</p>
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->


<%- include('partials/footer') %>