body {

  background-image: url(./images/sketch.jpg);
}

.gradient-background {
  background: linear-gradient(300deg, #7b00ff, rgb(250, 119, 37), #0091ff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.gradient-background2 {
  background: linear-gradient(300deg, #ff0000, rgb(116, 0, 165), #ff6a00);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


/* navbar */

.header-container {
  background-color: rgb(250, 119, 37);
}

.header-container-text {
  color: rgb(255, 255, 255);
}


.body-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Welocome */

.welcome-container {

  color: white;
}

h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}


/* people1 */

.people1-container {

  background-color: azure;
  height: 500px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 5%;
}

.img1 {
  height: 400px;
  width: auto;
  border-radius: 5%;
  margin-right: 100px;
}

.people1-container div {
  height: 400px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 5%;
}

.people1-container div h2 {
  font-size: 2.6rem;
}

.people1-container div p {

  margin-top: 30px;
  font-size: 1.1rem;
}

/* people 2 */

.people2-container {

  background-color: azure;
  height: max-content;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.img2 {
  margin-top: 10px;
  height: 400px;
  width: 650px;
  border-radius: 5%;
}

.people2-container div {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.people2-container div h2 {

  margin-top: 30px;
  font-size: 2.6rem;
}

.people2-container div p {
  margin-bottom: 30px;
  font-size: 1.1rem;
}

/* people3 */

.people3-container {

  background-color: azure;
  height: 600px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 5%;
}

.img3 {
  height: 500px;
  width: 400px;
  border-radius: 5%;
  margin-left: 100px;
}

.people3-container div {
  height: 400px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 5%;
}

.people3-container div h2 {
  font-size: 2.6rem;
}

.people3-container div p {

  margin-top: 30px;
  font-size: 1.1rem;
}


/* Finishing Line */




.getStarted-container-text {
  color: white;
  font-size: 3.5rem;
}

h2.getStarted-container-text {
  margin-bottom: 50px;
}


footer {
  background-color: rgb(250, 119, 37);
  width: 100%;
}


/* Signup Page */

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.signup-page {
  background-color: rgb(252, 233, 233);
}

/* login Page */

.login-container {
  height: min-content;
}